*.class

# Package Files #
*.jar
*.war
*.ear
*.aux
*.log
*.out
*.pdf
*.gz
*.toc
Food4Thought/.metadata/.lock
Food4Thought/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
Food4Thought/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
Food4Thought/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Food4Thought/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Food4Thought/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Food4Thought/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
Food4Thought/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Food4Thought/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.android.ide.eclipse.adt.prefs
Food4Thought/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
Food4Thought/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Food4Thought/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Food4Thought/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Food4Thought/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Food4Thought/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Food4Thought/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
Food4Thought/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Food4Thought/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Food4Thought/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Food4Thought/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Food4Thought/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
Food4Thought/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
Food4Thought/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Food4Thought/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Food4Thought/.metadata/version.ini
